$text: #040316;
$background: #fbfbfe;
$primary: #2f27ce;
$secondary: #dddbff;
$accent: #443dff;

$red: #ff3d3d;
$yellow: #ffdf3d;
$green: #3dff4d;

$corner-rounding-large: 10px;
$corner-rounding-small: 5px;

$easing: cubic-bezier(0.25, 1, 0.5, 1);
