@import "./globals.scss";
@import url("https://fonts.googleapis.com/css2?family=Noto+Emoji:wght@300..700&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  color: $text;
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  line-height: 1.5rem;

  background-color: $background;
  height: 100%;
  margin: 0;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
